<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/>
   </settings>
   
   <typeAliases>
      <typeAlias type="com.kh.landocProject.member.model.vo.Client" alias="Client"/>
      <typeAlias type="com.kh.landocProject.member.model.vo.DrClient" alias="DrClient"/>
      <typeAlias type="com.kh.landocProject.member.model.vo.DrhpPhoto" alias="DrhpPhoto"/>
      <typeAlias type="com.kh.landocProject.askDr.model.vo.AskDrBoard" alias="AskDrBoard"/>
   </typeAliases>

   <mappers>
  	 <mapper resource="/mappers/member-mapper.xml"/>
  	 <mapper resource="/mappers/askDr-mapper.xml"/>
   </mappers>
</configuration>