<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cMypage">
	
	<resultMap type="LikeHp" id="LikeHpListMap">
		<result property="hpNo" column="HP_NO"/>
		<result property="hpName" column="HP_NAME"/>
		<result property="hpPhone" column="HP_PHONE"/>
		<result property="hpPostcode" column="HP_POSTCODE"/>
		<result property="hpAddress" column="HP_ADDRESS"/>
		<result property="hpX" column="HP_X"/>
		<result property="hpY" column="HP_Y"/>
		<result property="hpReview" column="HP_REVIEW"/>
		<result property="hpAvgRate" column="HP_AVG_RATE"/>
		<result property="hpTime" column="HP_TIME"/>
	
	</resultMap>
	
	
	<resultMap type="PdReview" id="pdReviewListMap">
		<result property="pdReviewContent" column="PDREVIEW_CONTENT"/>
		<result property="orderNo" column="ORDER_NO"/>
		<result property="pdNo" column="PD_NO"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="pdName" column="PD_NAME"/>
		<result property="pdReviewNo" column="PDREVIEW_NO"/>
	</resultMap>
	
	<resultMap type="OrderList" id="orderListMap">
		<result property="orderNo" column="ORDER_NO"/>
		<result property="orderDate" column="ORDER_DATE"/>
		<result property="amountPrice" column="AMOUNT_PRICE"/>
		<result property="paymentWay" column="PAYMENT_WAY"/>
		<result property="usePoint" column="USE_POINT"/>
		<result property="cNo" column="C_NO"/>
		<result property="pdNo" column="PD_NO"/>
		<result property="opCount" column="OP_COUNT"/>
		<result property="pdName" column="PD_NAME"/>
		<result property="tumbnail" column="THUMBNAIL"/>
		<result property="oCode" column="O_CODE"/>
		<result property="oName" column="O_NAME"/>
		<result property="discountPrice" column="DISCOUNT_PRICE"/>
	</resultMap>
	
	<select id="likeHpList" parameterType="string" resultMap="LikeHpListMap">
		SELECT HP.HP_NO, HP.HP_NAME, HP.HP_PHONE,HP.HP_POSTCODE,HP.HP_ADDRESS, HP.HP_X, HP.HP_Y,HP.HP_REVIEW, HP.HP_AVG_RATE,
		NVL(HT.HP_TIME,'정보없음') AS HP_TIME
		FROM HPLIKE HL
		LEFT JOIN HOSPITAL HP ON(HL.HP_NO = HP.HP_NO)
		LEFT JOIN HPTIME HT ON(HL.HP_NO = HT.HP_UNIQUENO)
		WHERE TO_CHAR(SYSDATE,'DAY') = HT.HP_DAY 
		AND C_NO =#{cNo}
		ORDER BY HL.HP_NO DESC
	
	</select>
	
	<select id="listCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM HPLIKE
		WHERE C_NO=#{cNo}
	</select>

	<select id="pdReviewList" parameterType="string" resultMap="pdReviewListMap">
		SELECT PR.PDREVIEW_CONTENT, PR.ORDER_NO, PR.PD_NO, PA.ORDER_DATE,PD.PD_NAME,PR.PDREVIEW_NO
		FROM PRODUCTREVIEW PR
		JOIN PAYMENT PA ON(PR.ORDER_NO=PA.ORDER_NO)
		JOIN PRODUCT PD ON(PD.PD_NO=PR.PD_NO)
		WHERE PR.C_NO=#{cNo}
		ORDER BY PA.ORDER_DATE DESC
	</select>
	
	<select id="orderList" parameterType="string" resultMap="orderListMap">
		SELECT PA.ORDER_NO,PA.ORDER_DATE,TO_CHAR(PA.AMOUNT_PRICE,'999,999,999') AS AMOUNT_PRICE,PA.PAYMENT_WAY,PA.USE_POINT,PA.C_NO,OP.PD_NO,OP.OP_COUNT,PD.PD_NAME,
		PD.THUMBNAIL,OS.O_CODE,OS.O_NAME, TO_CHAR(ORIGIN_PRICE-SELL_PRICE+PA.USE_POINT,'999,999,999') AS DISCOUNT_PRICE 
		FROM PAYMENT PA
		JOIN ORDERPRODUCT OP ON(PA.ORDER_NO=OP.ORDER_NO)
		JOIN PRODUCT PD ON(PD.PD_NO=OP.PD_NO)
		JOIN ORDERMG OM ON(OM.ORDER_NO=PA.ORDER_NO)
		JOIN ORDER_STATE OS ON(OM.O_CODE=OS.O_CODE)
		WHERE PA.C_NO =#{cNo}
		ORDER BY PA.ORDER_DATE DESC
	</select>
</mapper>